body{
  margin: 0;
  font-family:Helvetica;
}

.header #headcontainer{
  background-color: #0F4970;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 0;
  padding-top: 1%;
  padding-bottom: 0;
}

legend{
  color: #0F4970;
  width: auto;
  border: 0
}

fieldset{
    border: 1px solid black;
}

#headcontainer .logo{
  width: 10%;
}

#headcontainer .logo img{
  width: 100%;
}

#headcontainer #headwrapper{
  width: 50%;
}

#headwrapper nav{
  margin-top: 0;
}

#headwrapper .top{
  display: flex;
  margin: 0;
  /* margin-top: 1em; */
  margin-bottom: 0.6em;
  padding-top: 1%;
  /* padding-right: 5%; */
}

#headwrapper a{
  font-size: 1.5em;
  text-decoration:none;
  color: #fff;
}

#headwrapper li{
  list-style-type:  none;
  width: auto;
  align-items: center;
}

#headwrapper .sub4{
  /* padding-left: 10%; */
  width: 30%;
}

#headwrapper .sub3{
  width: 24%;
}

#headwrapper .sub2{
  width: 22%;
}



#headwrapper li .fa{
  font-size: 1.5em;
  /* padding-left: 50%; */
}

.content{

  width: 75%;
  margin-left: 12%;
  margin-top: 2%;
}

.content legend{
  font-size: 1.5em;
  font-weight: bold;
}


.content fieldset{
  padding: 2%;
}

.content table{
  margin-left: 10%;
  width: 80%;

}


.content table td{
  /* border: 1px solid black; */
  width: 18%;
  padding: 10px;
}

.content .meterdetails .col1{
  width: 18%;
  /* padding-right:  100%; */
}

.content .meterdetails .form_group input{
  width: 90%;
}

.content .col1{
  width: 10%;
}

.content table input{
  height: 39px;
  padding-left: 5%;
  width: 90%

}

.content table .col1 label{
  font-size: 1.2em;
}

.search{
  margin-left: 36%;
  width: 30%;
  height: 35px;
  border: none;
  font-size: 1em;
  background-color: #0F4970;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.search:hover{
  background-color: #fff;
  color: black;
  cursor: pointer;
  border: 2px solid #0F4970;
}

.form_group{
  position: relative;
}
.content .form_group label{
  font-size: 0.9em;
  position:absolute;
  top:-10px;
  left:10px;
  color: black;
  background-color:white;
}

#headwrapper .user-avatar{
  /* padding-bottom: 10px; */
  width: 10%;
  color: #E7E6E6;
  font-size: 23px;
  font-weight: bold;
  position: relative;
}

.user-avatar:hover{
  cursor: pointer;
  color: white;
}

#headwrapper ul ul.submenu {
  margin-top: 30%;
  position: absolute;
  width: 200px;
  background: #fff;
  left: -100%;
  top:0;
  /* top: 30%; */
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 30px 3px gray;
  padding: 17px 0;
  transition: .3s;
  border: 1px solid gray;
  /* box-shadow: 5px 10px gray; */
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
}


#headwrapper ul ul.submenu>li>a {
  padding: 6px 15px !important;
  padding-bottom: 20px;
  font-size: 16px;
  color: #367FFF;
}



#headwrapper ul>li:hover>ul.submenu {
  visibility: visible;
  opacity: 1;
  top: 100%
}

.submenu hr{
  /* margin: 0; */
  margin-bottom: 5px;
  margin-top: 5px;
  opacity: 0.5;
  /* height: 2px; */
  border-bottom: 1px solid gray;
}

#headwrapper ul ul.submenu>li>.sub:hover {
  color: #C86FFF;
  background: none;
  padding-left: 20px !important
}

.submenu ul li a{
  font-weight: normal;
}

.sub{
  margin-bottom: 10px;
}
