.profContainer{
  margin-top: 13%;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 6%;
}

.profContainer .left{
  width: 70%;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 4px #999;
  /* height: 54vh; */
}

.left .leftContent{
  padding-left: 5%;
  padding-top: 5%;
}

.left .leftContent h1{
  font-weight: bold;
}


.profContainer .right{
  width: 25%;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 4px #999;
  height: 50%;
}

.profContainer .options{
  padding: 1.5em;
}

.profContainer .options li{
  padding-top: 5%;
  padding-left: 4%;
  height: 3em;
}

.profContainer .options .uname{
  /* height: 3em; */
  padding-top: 1%;
  padding-left: 2%;
  font-size: 1.3em;
  font-weight: 500;
}

.options a{
  color: black;
}

.profContainer .options .cpwd{
  border-radius: 5px;
  background-color: #1384F5;
  font-weight: bold;
}

.profContainer .options .profile:hover, .profContainer .options .history:hover{

  border-radius: 5px;
  background-color: #F0F4F8;


}

.options .profile a, .options .history a{
  color: #4885C0;
  font-weight: bold;
}

.options .cpwd a{
  color: white;
}


body{
  color: #0f3c4b;
  background-color: #e5edf1;
}
