body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none;
  /* height:90vh; */
}


.slideimg {
  vertical-align: middle;
  width: 100%;
  height: 100vh;
}



/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

.textcontainer {
  /* padding: 8px 12px; */
  position: absolute;
  top: 30%;
  width: 80%;
  left:10%
}




.textcontainer .hero__caption h1{
  /* margin-left: 1%; */
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 4em;
}

.textcontainer .hero__caption p{
  color: white;
  line-height: 45px;
  font-size: 1.5em;
}

.knowmore{
  border: 2px solid white;
  background : none;
  color: white;
  border-radius: 5px;
  padding: 4% 5%;
  font-size: 1.5em;
}

.knowmore:hover{
  /* font-size: 1.7em */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev i, .next i{
  color: white;
  font-weight: bold;
  font-size: 2em;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.8);

}

.prev:hover>i, .next:hover>i{
  color: black
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeslide, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.pass {
  -webkit-animation-name: pass;
  -webkit-animation-duration: 1.5s;
  animation-name: pass;
  animation-duration: 1.5s;
}

@keyframes pass {
  from {opacity: .4}
  to {opacity: 1}
}




/* #slide1_container {
  width:450px;
  height:281px;
  overflow:hidden;
  margin:0 auto;
}
#slide1_images {
  width:1800px;
  transition:all 1.0s ease-in-out;
}
#slide1_images img {
  padding:0;
  margin:0;
  float:left;
}



 */
/*
#slide1_controls {
text-align:center;
}

#slide1_controls span {
padding-right:2em;
cursor:pointer;
}

#slide1_container {
width:450px;
height:281px;
overflow:hidden;
margin:0 auto;
}

#slide1_images {
width:1800px;
-webkit-transition:all 1.0s ease-in-out;
-moz-transition:all 1.0s ease-in-out;
-o-transition:all 1.0s ease-in-out;
transition:all 1.0s ease-in-out;
}

#slide1_images img {
padding:0;
margin:0;
float:left;
} */
