
    .reports{
      margin-top: 6%;
      text-align: center;
    }

    .reports h1{
      font-size: 3.5em;
    }

    #charts{
      padding-left: 10%;
      padding-right: 10%;
      display: flex;
      justify-content: space-between;
    }

    #charts .left, #charts .right{
      width: 45%;
    }

  .container{
    margin-top: 8%;
    text-align: center;
    align-items: center;
  }
  .container h1{
    font-size: 3em;
  }

  .container .userdetails{
    margin-top: 2%;
    margin-left: 5%;
  }
