.profContainer{
  margin-top: 13%;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 6%;
}


body{
  position: relative;
  margin-top:6%;
  background-image: url(../img/hero/b8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  /* color: white; */
}

.profContainer .left{
  width: 70%;
  background-color:  #F2F3F4;
  border-radius: 7px;
  box-shadow: 0 0 4px #999;
  /* height: 54vh; */
}

.left .leftContent{
  padding-left: 5%;
  padding-top: 5%;
}

.left .leftContent h1{
  font-weight: bold;
}


.profContainer .right{
  width: 25%;
  background-color:  #F2F3F4;
  border-radius: 7px;
  box-shadow: 0 0 4px #999;
  height: 50%;
}

.profContainer .options{
  padding: 1.5em;
}

.profContainer .options li{
  padding-top: 5%;
  padding-left: 4%;
  height: 3em;
}

.profContainer .options .uname{
  /* height: 3em; */
  padding-top: 1%;
  padding-left: 2%;
  font-size: 1.3em;
  font-weight: 500;
}

.options a{
  color: black;
}

.profContainer .options .cpwd{
  border-radius: 5px;
  background-color: #1384F5;
  font-weight: bold;
}

.profContainer .options .profile:hover{

  border-radius: 5px;
  background-color: #E5E7E9;


}

.options .profile a{
  color: #4885C0;
  font-weight: bold;
  font-size: 1.2em;
}

.options .cpwd a{
  color: white;
}


/* body{
  color: #0f3c4b;
  background-color: #e5edf1;
} */
